<%- include ../partials/nav.ejs %>
<div class="container goRight">

    <div class="modal-body row">
      
        <div class="col-md-6">
            <%- include ./signup.ejs %>  
        </div>
      
      <div class="col-md-6">
        <%- include ./login.ejs %>
      </div>

     </div>
    </div>

<%- include ../partials/footer.ejs %>
