<h2>Login</h2>

<form action="/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter your email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter your password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>

<a href="/auth/facebook">Login With Facebook</a>
<br>
<a href="/auth/google">Login with Google</a>


<br><br>
<% if (typeof errorMessage !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <br><br>


  <p class="account-message">
    Dont have an account? <a href="/signup">Sign up</a>
  </p>
