<h2>Login</h2>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="text" name="email" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Enter your password">
  </div>
  <div class="form-group">
    <input type="submit" value="Log In" class="btn">
  </div>
</form>

<a class="fb-login" href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook </a>
<br>
<a class="g-login" href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i> Login with Google </a>


<br><br>
<% if (typeof message !== "undefined") { %>
  <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
