<h2>Login</h2>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="text" name="email" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="Enter your password">
  </div>
  <div class="form-group">
    <input type="submit" value="Log In" class="btn">
  </div>
</form>

<a href="/auth/facebook">Login With Facebook</a>
<br>
<a href="/auth/google">Login with Google</a>


<br><br>
<% if (typeof message !== "undefined") { %>
  <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>
