body {
  font: 14px "Source Sans Pro", sans-serif;
  background: #e4e4e4;
  color:#777777;
  letter-spacing: .5px;
}

.navbar-default{
  background: transparent;
  border: 0;
}

.darkHeader{
  background:#e4e4e4
}

.main-body{
  margin-top:20px
}

a {
  color: #9bd8d4;
}

.header .btn{
  display: block;
  margin-bottom:10px;
}

.btn{
  border:2px solid #fff;
  background: transparent;
  border-radius: 0
}

.navbar-form .form-control{
  width:300px;
  margin-right:20px;
  border:0;
  border-bottom:2px solid #000;
}
.form-control{
  border:2px solid #000;
  background: transparent;
  border-radius: 0;
  box-shadow:none;
}

.profile-link{
  margin-top:-3px;
}

.answer{
  padding-top:20px;
  padding-bottom:15px;
}

.best{
  padding:10px;
  color:#000;
  background:#abf0e9;
  text-transform: uppercase;
  display: inline-block;
  margin-top:10px;
}

.fb-login{
  color:#3B5998;
  text-transform: uppercase;
  border:2px solid #3B5998;
  padding:10px;
  margin:20px 0;
  display: inline-block;
}

.g-login{
  color:#d62d20;
  text-transform: uppercase;
  border:2px solid #d62d20;
  padding:10px;
  margin:20px 0;
}

/* HOME */
.header{
  padding-bottom:20px;
  padding-top:60px;
}

.header h1{
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home{
  padding:0;
}

.home .header{
  padding-top:200px;
  color: #fff;
  height:380px;
  background: url('../images/header_img.png');
  background-size: cover;
}

.form{
  padding:50px;
}


/* POSTS */
.posts{
  margin:0;
  padding:0
}

.post{
  background: #fff;
  list-style: none;
  margin-bottom:20px;
  display: flex;
  padding:0;
}
.post .gradient{
  color:#000;
  padding-top:35px;
  background: #bfe7c4; /* Old browsers */
  background: -moz-linear-gradient(top, #bfe7c4 0%, #a8f1ef 100%);
  background: -webkit-linear-gradient(top, #bfe7c4 0%,#a8f1ef 100%);
  background: linear-gradient(to bottom, #bfe7c4 0%,#a8f1ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe7c4', endColorstr='#a8f1ef',GradientType=0 );
}
.post .body a,.navbar-default .navbar-nav>li>a{
  color:#000;
}

.empty{
  color:#000;
}

.categories{
  color:#000;
}

.avatar img{
  width: 100%;
}

.sidebar{
  background: #fff;
}

.cat{
  list-style: none;
  padding:20px 0;
  border-bottom:1px solid #ddd;
}

.cat:last-child{
  border-bottom:0;
}

.cat .title{
  font-size: 20px;
  text-transform: uppercase;
}

/* Forms */
#form-container{
  display: none;
}

.navbar-form .btn{
  background: #eeedeb;
}

/* Ask */
.new-form .btn{
  width:100%;
}

/* Profile */
.new-form .btn{
  width:100%;
}

.profile{
  background:#fff;
  margin-top:150px;
  padding:30px 0;
}

.profile span{
  color:#000;
}

.profile .count{
  font-size: 40px;
  color:#9bd8d4
}

.profile-body{
  margin-top:40px;
  border-top:2px solid #9bd8d4;
  padding-top:40px;
}

.profile .btn{
  border: 2px solid #000;
  width: 50%;
  left: 25%;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
}
