<div class="container-fluid home">
  <div class="header">
    <div class="container">
      <div class="col-md-12">
        <h1>No clue? No problem</h1>
        <h3>Recent questions</h3>
      </div>
    </div>
  </div>
</div>
<div class="container main-body">
<%- include ../partials/posts.ejs %>
<%- include ../partials/sidebar.ejs %>
</div>
